{% extends "includes/nav.html" %}
{% block title %} {{ item.name }} {% endblock %}

{% from 'includes/macros/item_form.html' import item_form %}
{% from 'includes/macros/display_item.html' import display_item %}
{% from 'includes/macros/display_users.html' import display_users %}
{% from 'includes/macros/display_requests.html' import display_requests %}
{% from 'includes/macros/confirmation.html' import confirmation %}
{% from 'includes/macros/items.html' import items_list %}

{% block panel %}

{{ display_item(item, counts={}, requestable=False) }}

<div>
    <button class="ui red button" onclick="$('.delete-conf').modal('show');">
        删除项目
    </button>
    <div id="delete-error" class="ui hidden error message"></div>
</div>
{{ confirmation("delete-conf", "你确定要删除此项目吗？", "该操作无法撤回！",
    None, item.id, "delete-item") }}

{{ item_form("Update Item", url_for('inventory_update', id=item.id), item=item) }}

<br>

{% if quantity == 0 %}
    <span><strong>没货了！<strong></span>
{% elif (item.requires_checkout or item.requires_lottery) and user.is_admin %}
    <span><strong>剩余数量:</strong> {{ item.quantity }}</span>
{% else %}
    <span><strong>有现货！</strong></span>
{% endif %}

{% if (item.requires_checkout or item.requires_lottery) %}
{{ items_list(item.items, admin=user.is_admin) }}
<div class="add-subitems-container">
    <div class="content">
        <form class="ui form" method="post">
            <div class="field">
                <label for="subitem-id">增加额外子项目</label>
                <input type="text" name="subitem-id" value="" placeholder="Name">
            </div>

            <button class="ui green button add-subitem" data-id="{{item.id}}">添加</button>
            <div class="ui hidden error message"></div>
        </form>
    </div>
</div>

 {{ confirmation("return-notice", "请将ID还给用户", "他们已经归还了最后的项目。",
    None, None, "return-notice-btn") }}

<h2> Requests </h2>
{{ display_requests(requests, RequestStatus, user.is_admin, show_item_name=False, show_proposal=is_lottery) }}
{% endif %}

{% endblock %}

{% block script %}
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/item.js') }}"></script>
{% endblock %}
