{% macro display_users(users, admin=False) -%}
{% from 'includes/macros/confirmation.html' import confirmation %}
{% from 'includes/macros/items.html' import items_list %}
<div class="ui divided items">
    {% for u in users %}
        <div class="item">
            <div class="content">
                <a class="header" href="{{ url_for('user_items', id=u.id) }}">
                    {% if u.name %}
                        {{ u.name }}
                    {% else %}
                        {{ u.email }}
                    {% endif %}
                    <!--
                    {% if u.is_admin %}
                        <div class="ui tiny basic red label">
                            sudo
                        </div>
                    {% endif %}
                    -->
                </a>

                <div class="description">
                    <a class="ui label" href="mailto:{{ u.email }}">
                        <i class="mail icon"></i> {{ u.email }}
                    </a>
                    {% if u.phone %}
                        <a class="ui label" href="tel:{{ u.phone }}">
                            <i class="phone icon"></i> {{ u.phone }}
                        </a>
                    {% endif %}
                    {% if u.location %}
                        <div class="ui label">
                            <i class="marker icon"></i> {{ u.location }}
                        </div>
                    {% endif %}
                </div>

                <div class="description">
                    <p>
                        <i class="user icon"></i> ID:
                        {% if u.have_their_id %}
                            已获取
                        {% else %}
                            未获取
                        {% endif %}
                    </p>
                    <p>
                        {% if u.items %}
                            <h4> 已检出项目 </h4>
                            {{ items_list(u.items, table_id = u.id) }}
                        {% else %}
                            该用户还没有检出任何项目。
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{{ confirmation("return-notice", "请确保已经将ID归还参赛者", "他们已经归还了最后一个项目。",
None, None, "return-notice-btn") }}

{%- endmacro %}
